* {
    margin: 0;
    padding: 0;
}

.container3 {
    width: 100%;
    height: 2000px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(42,39,42,1) 26%, rgba(75,74,84,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 60px;
    margin-top: 60px;
    color: white;
    font-size: 5rem;
    font-style: oblique;
}

.frame {
    width: 80%;
    height: 500px;

  

}

.pad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2000px;
    padding-bottom: 40px;
}

