@media screen and (max-width: 768px) {
	/* navigation */
	.navbar a,
	.dropdown2,
	.dropdown3,
	.dropdown4 {
		float: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		/* display: block; */
		text-align: center;
	}

	.dropdown2 .dropbtn2,
	.dropdown3 .dropbtn3,
	.dropdown4 .dropbtn4 {
		width: 100%;
	}

	.dropdown-content2,
	.dropdown-content3,
	.dropdown-content4 {
		position: static;
		display: none;
		width: 100%;
		padding: 0;
		margin: 0;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(203, 197, 197, 1) 100%,
			rgba(75, 74, 84, 1) 100%
		);
	}

	/* video */

	.embed-container {
		position: relative;

		padding-top: 55% !important;
		height: 0;
		max-width: 100%;

		/* background-color: black; */
		position: relative;
	}

	.embed-container iframe {
		position: absolute;
		top: 0;
		left: -40%;

		width: 100%;
		height: 100%;
	}

	.wtb {
		font-size: 2rem;
	}

	/* section titles */
	h2 {
		font-size: 3rem !important;
	}

	.attract {
		text-decoration: underline;
		font-size: 3rem;
	}

	.transport {
		text-decoration: underline;
		font-size: 3rem;
	}

	.fontHead {
		text-decoration: underline;
		font-size: 3rem;
	}

	section > h2 {
		font-size: 2rem !important;
	}

	/* hotel */

	div.head1 {
		width: 100%;
		height: 100px;
	}

	#hotel {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.blankspace {
		display: none;
	}

	.slides5star > div {
		display: flex;
		flex-shrink: 0;
		width: 100%;
		height: 300px;
		scroll-snap-align: start;
		scroll-behavior: smooth;
		justify-content: center;
		align-items: center;
		font-size: 100px;
	}

	.slides4star > div {
		display: flex;
		flex-shrink: 0;
		width: 100%;
		height: 300px;
		scroll-snap-align: start;
		scroll-behavior: smooth;
		justify-content: center;
		align-items: center;
		font-size: 100px;
	}

	.empty:empty {
		display: none;
	}

	.slides3star > div {
		display: flex;
		flex-shrink: 0;
		width: 100%;
		height: 300px;
		scroll-snap-align: start;
		scroll-behavior: smooth;
		justify-content: center;
		align-items: center;
		font-size: 100px;
	}

	/* food */

	div.head2 {
		width: 100%;
		height: 100px;
	}

	.foodtry {
		width: 100%;
		height: 850px;
		position: relative;
		overflow: hidden;
	}

	.centerFood {
		position: absolute;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 400px;
	}

	/* trying to make the pop up */

	.right {
		position: absolute;
		bottom: 0px;
		/* background-color:  #8a817c; */
		width: 100%;
		height: 400px;
		/* right: 10px; */
		padding: 0;
	}
	.rightside {
		position: absolute;
		bottom: 50px;

		width: 100%;
		height: 400px;
		/* right: 10px; */
		opacity: 0;
		padding-top: 0;
		transition: opacity 0.5s;
		bottom: 0px;
	}

	.rightside img {
		border: none;
		border-radius: 50px 0 50px 0;
		position: absolute;
		left: 42px;
		border: 5px solid #070502;
	}

	/* attractions */

	.blankspace4 {
		width: 100%;
		height: 100px;
	}
	.attract {
		width: 100%;
		height: 120px;
	}

	.imageBorder {
		width: 100%;
	}

	.gallery {
		height: 2500px;
	}

	/* transportation */

	.transport {
		width: 100%;
		height: 50px;
	}

	.transpScrollParent {
		display: flex;
		flex-direction: column;
		height: 1300px;
	}

	.Scroll-y {
		width: 80%;
		height: 300px;
	}

	.Scroll-y2 {
		width: 80%;
		height: 300px;
	}

	/* safety */

	.safe {
		height: 70px;
	}

	.sectionn p {
		font-size: 1.5rem;
	}

	.sectionn {
		height: 30px;
	}
	.blankspace7 {
		height: 100px;
	}

	/* wof */

	.mainWOF {
		font-size: 2rem;
	}

	.medquer-arrow {
		display: flex;
		width: 100%;
		height: 300px;
		justify-content: center;
		align-items: center;
		background-color: rgba(224, 161, 131, 1);
	}

	.medquer-arrow > span {
		font-size: 150px;
		color: white;
	}

	.blankspacemedq {
		display: block;
		width: 100%;
		height: 50px;
		background-color: rgba(224, 161, 131, 1);
	}

	.secondaryWOF {
		width: 100%;
		height: 3500px;
		flex-direction: column;
	}

	.WOF {
		width: 100%;

		flex-direction: column;
	}

	.iconWOF1 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text1 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.iconWOF2 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text2 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.iconWOF3 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text3 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.iconWOF4 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text4 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	/* culture */

	.mainCult {
		font-size: 2rem;
	}

	.secondaryCult {
		width: 100%;
		height: 3000px;
		flex-direction: column;
	}

	.cult {
		width: 100%;

		flex-direction: column;
	}

	.iconC {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text5 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.iconC2 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text6 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.iconC3 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text7 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.iconC4 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text8 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}
  
	.iconC5 {
		width: 50%;
		height: 240px;
		display: flex;
	}

	.text9 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}
}
